<% provide(:title, 'Home') %>

<h1>Costpad</h1>
<p><b>Costpad estimating app</b> lets you estimate the cost of just about anything ... a trade services quote, a recipe (or a whole menu), maybe even the cost of planting a crop, you decide.</p>

<p><b>Create</b> and <b>save</b> a database of your cost items for later reference, or re-use the data in other projects or applications.</p>

<p><b>Build</b> your project estimate, <b>save</b>, <b>send</b>, or <b>download</b> it.</p>

<h2>Step 1</h2>

<p>Open an account, it's free, but we need a unique ID to store and secure your stuff.</p>

<h2>Step 2</h2>

<p>Create items to use in your costing or estimate.</p>

<h2>Step 3</h2>

<p>Build your estimate and save it, download it, or send it via email direct from the application.</p>

<p>You can keep copies of your cost items and finished project estimates on our secure Cloud storage platform.</p>
