   
    <aside class="three columns">

      <h4>use it anywhere</h4>
      
      <div class="panel">

        <p>Use Costpad for all your cost estimates and quotes, your data is available 24/7 and easily managed on any web device, including your phone.</p>
  
      </div>

      <h4>get started</h4>

      <ul class="side-nav">
        <li><%= link_to "sign up", signup_path, class: "button" %></li>
        <li><%= link_to "login", '#', class: "button" %></li>
      </ul>


    </aside>